
.login-fastfood {
  max-width: 400px;
  width: 100%;
  padding: 25px;
  border-radius: 16px;

  background: rgba(255,255,255,0.95); /* semi-transparente */
  backdrop-filter: blur(8px);

  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1; /* para estar encima del overlay */
}

/* Inputs más modernos */
.form-control {
  border-radius: 10px;
  padding: 10px;
}

/* Botón con estilo restaurante */
.btn-orange {
  background: linear-gradient(135deg, #ff6b00, #ff8c42);
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-orange:hover {
  transform: scale(1.03);
  background: linear-gradient(135deg, #ff8c42, #ff6b00);
}


:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}