<app-navbar></app-navbar>

<div class="d-flex">
  <app-sidebar></app-sidebar>

  <div class="container-fluid p-4">
    <h2>💰 Caja</h2>

    <div class="card shadow mt-3">
      <div class="card-body">
        <h5>Comprobantes recientes</h5>

        <table class="table mt-3">
          <thead>
            <tr>
              <th>N°</th>
              <th>Cliente</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>F001-01</td>
              <td>Juan</td>
              <td>S/ 50</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>